.text-center{
    text-align: center;
    padding: 20px;
    margin: 1px;
}
.input{
    padding: 10px;
    width: 270px;
    margin: 3px;
    font-size: medium;
}
body{
background-color: rgb(91, 207, 207);
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    font-size: larger;
    font: bolder;
  }

  .button1{
    color: rgb(1, 12, 24);
    background-color: rgb(241, 61, 241);
    width: 66px;
    padding: 23px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    font-size: larger;
    font: bolder;
  }
  
  .row{
    margin: auto;
  }
  .row input{
    width: 291px;
    font-size: 20px;
      margin: 0;
      padding: 10px 0px;
      border: 2px solid black;
      border-radius: 5px;
  }
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
  